@use "../../scss/" as *;

.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 93%;
    float: right;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // @include overlay();
        background: linear-gradient(to right, #0f0f0f, #0f0f0fe7, #0f0f0f67, #0f0f0f98, #0f0f0f90, #0f0f0f9d);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
        backdrop-filter: blur(12.5px);
    }
}

.movie-content {
    // @include flex(flex-start, flex-start);
    margin-left: auto;
    margin-right: auto;
    // margin-top: -200px;
    position: relative;
    padding: 0 2rem;

    &__poster {
        flex: 1;

        @include mobile {
            display: none;
        }

        &__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            // padding-top: 165%;
        }
    }

    &__info {
        width: 100%;
        padding-left: 2rem;
        position: relative;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        & > * {
            margin-bottom: 2rem;
        }

        .title {
            font-size: 4rem;
            line-height: 1;
        }

        .genres {
            & > * ~ * {
                margin-left: 0.5rem;
            }

            &__item {
                // padding: 0.5rem 1.5rem;
                border-radius: $border-radius;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
        p {
            text-align: left;
        }
        .genres__title {
            color: #FF2E00;
            font-weight: 700;
        }
    }
}

.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;

    &__item {
        &__img {
            padding-top: 160px;
            background-size: cover;
            margin-bottom: 0.5rem;
        }

        &__name {
            font-size: 0.8rem;
        }
    }
}

.video {
    margin-bottom: 3rem;

    &__title {
        margin-bottom: 1.5rem;
    }
}

.more__detail {
    display: flex;
    justify-content: space-around;
}

.cast {
    width: 50%;
}

.cast__list {
    display: flex !important;
    flex-direction: row !important;
    width: 800px;
}

.casts__item {
    width: 107px;
    height: 100%;
}

.banner__main {
    display: flex;
    justify-content: right;
    width: 100%;
}

.btns {
    gap: 30px;
}